{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="card" style="width: 50rem;">
    {% if product.img %}
            <img class="card-img-top" src="{{ product.img.url }}" alt="Card image cap">
        {% endif %}
  <div class="card-body">
    <h2 class="card-title">{{ product.name }}</h2>
        <p style="color: gray; font-size: 15px">In the category: {{ product.category.name }}</p>
        <p class="card-text">Price<img src="{% static 'img/cash.png' %}" alt="money" style="height: 25px">: {{ product.price }}$</p>
        <p class="card-text" style="font-size: 18px">Description: {{ product.description }}</p>
        <p style="font-size: 15px; color: gray">Added at: {{ product.created_at }}</p>
      <a href="{% url 'product_update' product.id %}" class="btn btn-primary" style="margin: 5px; width: 130px">Edit</a>
      <a href="{% url 'product_delete' product.id %}" class="btn btn-danger" style="margin: 5px; width: 130px">Delete</a>

  </div>
</div>

{% endblock %}