{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="category">
    <h1>Choose category that you want</h1>
    {% for category in categories %}

        <div class="card category_items" style="max-width: 100%;">
              <button type="button", class="list-group-item list-group-item-action" aria-current="true">
                  <div class="row no-gutters">
                <div class="col-md-4">

                    {% if category.category_img %}
                  <img src="{{ category.category_img.url }}" class="card-img" alt="...">
                    {% endif %}
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ category.id }}. {{ category.name }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                      <a href="{% url 'category_detail' category.id %}" class="btn btn-primary" style="margin: 5px; width: 130px">See more...</a>
{#                      <a href="{% url 'cate' %}"></a>#}

                  </div>
                </div>
                </div>
              </button>
        </div>
    {% endfor %}
    </div>
{% endblock %}

