{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% for category in categories %}
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action" style="color: darkgray" aria-current="true">
            {% if category.category_img %}
                <img src="{{ category.category_img.url }}" alt="">
            {% endif %}
              <a href=""><h5 class="mb-1" style="color: black">{{ category.id }}. {{category.name}}<p style="color: #666666; font-size: 15px"> by {{ category.description }}</p>
              </h5></a>
              <a class="btn btn-primary" style="margin: 5px; width: 60px">Edit</a>
            <a  class="btn btn-danger" style="width: 100px; margin: 5px; ">Delete</a>
          </button>
    </div>

{##}
{#        <div class="card mb-3">#}
{#              <img src="{% static 'img/clothes.jpg' %}" class="card-img-top" alt="..." style="height: 250px">#}
{#              <div class="card-body">#}
{#                    <h5 class="card-title">Card title</h5>#}
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#              </div>#}
{#            </div>#}
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Card title</h5>#}
{#                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>#}
{#                </div>#}
{#                <img src="..." class="card-img-top" alt="...">#}
{#        </div>#}
    {% endfor %}
{% endblock %}

