body{
    margin: 0;
}

.cart{
    padding-top: 12px;
    margin-left: 0;
}
.bookmarks{
    margin-left: 700px;
}

.masthead{
    height: 500px;
    background-color: #adb5bd;
    display: block;
}
.home{
   display: block;
    text-align: center  ;
}
.home-photo{
    height: 500px;
    z-index: 1;
    padding: 1px;
    margin-left: -135px;
}
.preview{
    z-index: 2;
    position: absolute;
    margin-top: -200px;
    margin-left: -50px;
    width: 700px;
    text-shadow: 1px 1px 1px #adb5bd;
}
.prev-text{
    margin-top: -40px;
}
.icons-grid{
    margin: 70px 0px 70px 0px;
}
.icon{
    margin-bottom: 60px;
}
.showcase{
    margin-top: 100px;
}
.showcase-detail{
    display: flex;
}
.showcase-img{
    height: 250px;
    margin-left: 100px;
}
.showcase-smth{
    display: block;
    width: 800px;
}
.showcase-text{
    width: 500px;
}

.category{
    background-color: #006b1b;
}

.products_list{
    display: inline-block;
    margin: 50px;
}
.products{
    margin: 0;
    background-color: #dee2e6;
    text-align: center;
}