body{
    margin: 0;
}

.cart{
    padding-top: 12px;
    margin-left: 0;
}
.bookmarks{
    margin-left: 700px;
}

.masthead{
    height: 500px;
    background-color: #adb5bd;
    display: block;
}
.home{
   display: block;
    text-align: center  ;
}
.home-photo{
    height: 500px;
    z-index: 1;
    padding: 1px;
    margin-left: -135px;
}
.preview{
    z-index: 2;
    position: absolute;
    margin-top: -200px;
    margin-left: -50px;
    width: 700px;
    text-shadow: 1px 1px 1px #adb5bd;
}
.prev-text{
    margin-top: -40px;
}
.icons-grid{
    margin: 70px 0 70px 0;
}
.icon{
    margin-bottom: 60px;
}
.showcase{
    margin-top: 100px;
    background-color: #dee2e6;
    padding: 0 30px 30px 30px;
    margin-bottom: 100px;
}
.showcase-detail{
    display: flex;

}
.showcase-img{
    height: 250px;
}
.showcase-smth{
    display: flex;
    width: 800px;
    margin: 50px;
}
.showcase-text {
    margin-top: 50px;
}
.img{
    margin-top: 50px;
}
.category{
    background-color: #dee2e6;
    padding: 30px 50px 30px 50px;
    border-radius: 15px;
    text-align: center;
}

.products_list{
    display: inline-block;
    margin: 50px;
}
.products{
    margin: 0;
    background-color: #dee2e6;
    text-align: center;
    border-radius: 15px;
    padding: 30px 50px 30px 50px;
}
.category_items{
    margin-bottom: 30px;
}
.category_create{
    background-color: #dee2e6;
    padding: 15px;
    border-radius: 15px;
}
.subtitle{
    text-align: center;
    margin-right: 80px;
    font-weight: bolder;
    color: darkgreen;
    margin-bottom: 50px;
    font-size: 65px;
}    /*align-self: center;*/

.product_create{
    background-color: #dee2e6;
    padding: 15px;
    border-radius: 15px;
}

.add{
    background-color: #dee2e6;
    padding: 15px;
    border-radius: 15px;
}

.delete{
    justify-content: center;
    width: 50%;
    margin: 50px auto;
    margin-right: 360px;

}
.bookmark{
    background-color: #dee2e6;
    display: flex;
}

.add_bookmark{
    /*margin-left: 100px;*/
    /*margin-top: 300px;*/

}
.book{
    padding: 100px;
}