{% extends 'base.html' %}
{% block content %}
    <div class="card delete">
        <div class="card-body">
            <h2 class="text-danger">Are you sure to remove from bookmark?</h2><h2>{{ product.name }}</h2>
            <form action="{% url 'bookmark_delete' product.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Confirm</button>
                <a href="{% url 'bookmark_list' %}" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}