{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <img src="{% static 'img/categories (1).png' %}" alt="clothes" style="height: 250px;">
            <h5 class="card-title">Add own Category</h5>
            <p class="card-text">You can add new category for the products, it requires name and description</p>
            <a href="{% url 'add_category' %}" class="btn btn-primary">Add Category</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
              <img src="{% static 'img/products.png' %}" alt="clothes" style="height: 250px;">
            <h5 class="card-title">Add own Product</h5>
            <p class="card-text">You can add new own products, it requires name and category and also price</p>
            <a href="{% url 'add_product' %}" class="btn btn-primary">Add Products</a>
          </div>
        </div>
      </div>
</div>
{% endblock %}